.page2 {
    height: 100%;
    padding: 0 3.4rem;
    padding: 0;
    margin: 0;
}


header {
    margin-top: 3rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    display: flex;
    justify-content: space-between;
}
.logo {
   position: relative;
    
}
.menu {
    position: relative;
    margin-top: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.container-byrjendur-arrow{
    display: flex;
    align-items: center;
    margin: 4rem;
   justify-content: space-between;
}
.center-title-h2 {
    font-size: 3.5rem;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;


}
.left-element-arrow {
    position: relative;
    align-items: right;
   
    cursor: pointer;
}
.right-element-null {
    opacity: 100%;
   

}
.page2 {
    display: grid ;
    grid-template-areas:
    "top-box top-box"
    "left-box right-box" 
    "left-box-2 right-box-2"
    "left-box-3 right-box-3"
    "left-box-4 right-box-4"
    "left-box-5 right-box-5"
    "left-box-6 right-box-6"
    "left-box-7 right-box-7"
    "left-box-8 right-box-8"
    "left-box-9 right-box-9"
    "left-box-10 right-box-10";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-top: 1rem;
    padding: 0 3.4rem;
    margin-bottom: 3.9rem;
}
.byrjendur-title {
    grid-area: top-box;
    border-bottom: solid 0.2rem #cd36cd;
    display: flex;
    align-items: end;
    font-size:3.5rem;
  
   
}
.box-left{
    grid-area: left-box;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-left p {
    font-size:1.6rem;
    text-align: center;
}
.box-right {
    grid-area: right-box;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    height: 11rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right p {
    font-size:1.6rem;
    text-align: center;
}
.box-left-2 {
    grid-area: left-box-2;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-2 p {
    font-size:1.6rem;
    text-align: center;
}
.box-right-2 {
    grid-area: right-box-2;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-2 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-3 {
    grid-area: left-box-3;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-left-3 p {
    font-size:1.6rem;
    text-align: center;
    
}
.box-right-3 {
    grid-area: right-box-3;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-right-3 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-4 {
    grid-area: left-box-4;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-left-4 p {
    font-size:1.6rem;
    text-align:center;
}
.box-right-4 {
    grid-area: right-box-4;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-right-4 p {
    font-size:1.6rem;
    text-align: center;
}
.box-left-5 {
    grid-area: left-box-5;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-5 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-5 {
    grid-area: right-box-5;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-5 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-6 {
    grid-area: left-box-6;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-6 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-6 {
    grid-area: right-box-6;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-6 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-7 {
    grid-area: left-box-7;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-7 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-7 {
    grid-area: right-box-7;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-7 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-8 {
    grid-area: left-box-8;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-8 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-8 {
    grid-area: right-box-8;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-8 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-9 {
    grid-area: left-box-9;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-9 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-9 {
    grid-area: right-box-9;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-9 p {
    font-size:1.6rem;
    text-align:center;
}
.box-left-10 {
    grid-area: left-box-10;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-left-10 p {
    font-size:1.6rem;
    text-align:center;
}

.box-right-10 {
    grid-area: right-box-10;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right-10 p {
    font-size:1.6rem;
    text-align:center;
}