*{
    font-size: 62.5%;
}
.footer {
    display:flex ;
    justify-content: space-between;
    width: 43rem;
    height: 5.2rem;
    border: 0rem;
    padding-top: 4.0rem;
    padding-left: 46.8rem;
    padding-right: 46.8rem;
  }
.netfang {
    padding-left: 4.84rem;
    padding-top: 2.3rem;
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
}
.simi{
    padding-right: 4.84rem;
    padding-top: 2.3rem;
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
}