* {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

.header {
    height: 9.3rem;
    padding-left: 3.4rem;
    padding-right: 3.4rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    position: relative;
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
}

.menu {
    position: relative;
    align-items: right;
    margin-top: 5.1rem;
    margin-bottom: 2.2rem;
}