* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

.header {
    height: 9.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.logo {
    position: relative;
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
}

.menu {
    position: relative;
    align-items: right;
    margin-top: 5.1rem;
    margin-bottom: 2.2rem;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 93px;
    background-color: white;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, .15);
    border-radius: 0.8rem;
    padding: 2rem;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

}
.dropdown-open {
    opacity: 1;
}

.dropdown-menu a {
    font-size: 2.2rem;
    color: black;
    line-height: 2;
    
}

.page1 {
    height: 100vh;
    padding: 0 3.4rem;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-element-h2 h2 {
    font-size: 3.2rem;
}

.right-element-null {
    opacity: 0%;
}

/* byrjendur grid */

.byrjendur-grid {
    display: grid;
    grid-template-areas:
      "top-box top-box"
      "left-box right-box";
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-gap: 10px;
    margin-bottom: 5rem;
}


.left-side-image {
    display: none;
}

@media (min-width: 800px) {
    .all-around-the-world {
        display: flex;
    }

    .right-side-section {
        width: 30%;
        height: 100%;
    }

    .left-side-image {
        display: flex;
        width: 65%;
        margin-right: 5%;
        align-items: end;
    }

    .left-side-image img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        object-position: center;
       
        height: 100%;
    }

     .mb0 {
        margin-bottom: 0;
    }  
}

.toughness-level {
    grid-area: top-box;
    height: 5rem;
    border-bottom: solid 0.2rem #cd36cd;
    display: flex;
    align-items: end;
}

.toughness-level h3 {
    font-size: 2.8rem;
    margin-bottom: 0.2rem;
    font-weight: normal;
}

.box-left {
    grid-area: left-box;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.box-right {
    grid-area: right-box;
    height: 11rem;
    border: solid 0.2rem #cd36cd;
    border-radius: 0.8rem;
    background-color: #fcf5fc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.box-left p {
    font-size: 1.6rem;
    text-align: center;
}

.box-right p {
    font-size: 1.6rem;
    text-align: center;
}

@media (min-width: 1460px){

    .box-left {
        grid-area: left-box;
        height: 10vw;
    }

    .box-right {
        grid-area: right-box;
        height: 10vw;
 
    }

    .toughness-level h3 {
        font-size: 3rem;
    }

    .box-left p {
        font-size: 2.2rem;
        
    }
    
    .box-right p {
        font-size: 2.2rem;
        
    }
}


.box-left:hover {
    transform: scale(1.05);
}

.box-right:hover {
    transform: scale(1.05);
}

.orange-color {
    border: solid 0.2rem #ff9933;
    background-color: #fffaf5;
}

.orange-color-line {
    border-bottom: solid 0.2rem #ff9933;
}

.blue-color {
    background-color: #f5fcfa;
    border: solid 0.2rem #3399cc;
}

.blue-color-line {
    border-bottom: solid 0.2rem #3399cc;
}
