* {
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
.header {
    height: 9.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

/*logo*/
.logo {
    position: relative;
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
}

/*drop down menu*/
.menu {
    position: relative;
    align-items: right;
    margin-top: 5.1rem;
    margin-bottom: 2.2rem;
    cursor: pointer;
}

/*padding for the page to keep everything aligned*/
.leikur-klaradur-page-1 {
    width: 100%;
    height: 100vh;
    padding: 0 3.4rem;
}

/*placeholder box for the confetti video*/
.confetti{
    width: 100%;
    height: 40rem;
    margin-top: 10rem;
    border: .2rem solid #F0C3F0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

/*text on top of the confetti congratulating for finishing the game*/
.confetti h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    
}
/*button to register points*/
a {
    color: black;
    text-decoration: none;
}

.skra-stig{
    width: 32.2rem;
    height: 4.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #F0C3F0;
    border-radius: 999.9rem;
    margin-top: 3rem;
}

/*font size for text inside the button*/
.skra-stig p {
    font-size: 2rem;
}

/*button to play same game again*/
.spila-aftur{
    width: 32.2rem;
    height: 4.3rem;
    border: .2rem solid #F0C3F0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 999.9rem;
}

/*font size for text inside the button*/
.spila-aftur p {
    font-size: 2rem;
}

/*button to go back to go to "byrjendur"page to find a new game*/
.finna-nyjan-leik{
    width: 32.2rem;
    height: 4.3rem;
    border: .2rem solid #F0C3F0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;   
    border-radius: 999.9rem;
}

/*font size for text inside the button*/
.finna-nyjan-leik p {
    font-size: 2rem;
}

.confetti-container {
   
    position: relative; /* Ensure positioning works as expected */
    overflow: hidden; /* Hide any overflowing confetti */
  }