* {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    height: 9.3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.logo {
    position: relative;
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
}

.menu {
    position: relative;
    align-items: right;
    margin-top: 5.1rem;
    margin-bottom: 2.2rem;
    cursor: pointer;
}

.leikur-klaradur-page-1 {
    width: 100%;
    height: 100vh;
    padding: 0 3.4rem;
}

.confetti{
    width: 100%;
    height: 34.5rem;
    margin-top: 0.5rem;
    border: .2rem solid #F0C3F0;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.confetti h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 500;
    
}


.skra-stig{
    width: 32.2rem;
    height: 4.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #F0C3F0;
    border-radius: 999.9rem;
    margin-top: 1.5rem;
}
.skra-stig p {
    font-size: 2rem;
}
.spila-aftur{
    width: 32.2rem;
    height: 4.3rem;
    border: .2rem solid #F0C3F0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 999.9rem;
}
.spila-aftur p {
    font-size: 2rem;
}
.finna-nyjan-leik{
    width: 32.2rem;
    height: 4.3rem;
    border: .2rem solid #F0C3F0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;   
    border-radius: 999.9rem;
}
.finna-nyjan-leik p {
    font-size: 2rem;
}