.leitPage {
    margin-left: 3.4rem;
    margin-right: 3.4rem;
}

/*Leit*/
.heading {
    margin-top: 2.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 3.2rem;
    text-align: center;
    font-weight: lighter;
}

/*search box*/
.wrapper {
    margin-top: 2.2rem;
    position: relative;
    display: flex;
}

.search-icon {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.search {
    border: .1rem solid black;
    border-radius: 9rem;
    height: 4.3rem;
    width: 100%;
    font-size: 1.6rem;
    color: black;
}

.search::placeholder {
    color: #00000050;
}

/*line under text box*/
.line {
    margin-top: 3rem;
    height: .3rem;
    background-color: #66CC0030;
    border: none;
}

/* categories */
.catName {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: .4rem;
}

.fagWord {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.8rem;
}

.tegundWord {
    margin-right: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.8rem;
}

.erfiðleikaWord {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.8rem;
}

.timaWord {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2.8rem;
}

/*lines under category names*/
.fagLine {
    color: #FF333330;
}

.tegundLine {
    color: #CD36CD30;
}

.erfiðleikaLine {
    color: #FF993330;
}

.timaLine {
    color: #3399CC30;
}

/* category items */
.catItems {
    margin-top: .7rem;
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.5;
}

.tegundItems {
    width: 13.3rem;
}

.timaItems {
    width: 13.3rem;
}

/* check boxes*/
.checkmark {
    font-size: 2rem;
    padding-left: 1rem;
}

.container {
    display: flex;
    align-items: center;
    
}

/* search button */
.leita {
    margin-top: 5rem;
    width: 100%;
    height: 4.3rem;
    border-radius: 9999rem;
    font-size: 2rem;
    background-color: #66CC0030;
    border-color: transparent;
    cursor: pointer;
}

.leita:hover {
    background-color: #66cc0050;
}